[submodule "packages/sports-manager-sportsclubdao/sportsclubdao-subgraph"]
	path = packages/sports-manager-sportsclubdao/sportsclubdao-subgraph
	url = git@github.com:SportsmanagerDAO/sportsclubdao-subgraph.git
[submodule "packages/sports-manager-sportsclubdao/sportsclubdao-ui"]
	path = packages/sports-manager-sportsclubdao/sportsclubdao-ui
	url = git@github.com:SportsmanagerDAO/sportsclubdao-ui.git
[submodule "packages/sports-manager-sportsclubdao/sportsclubdao-contracts"]
	path = packages/sports-manager-sportsclubdao/sportsclubdao-contracts
	url = git@github.com:SportsmanagerDAO/sportsclubdao-contracts.git
[submodule "packages/sports-manager-sportsclubdao/multi-sig"]
	path = packages/sports-manager-sportsclubdao/multi-sig
	url = git@github.com:SportsmanagerDAO/multi-sig.git
